
#container{

  height: 90vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

#library-system{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
  width: 60%;
}

h2{
  font-family: sans-serif;
}

button{
  font-family: sans-serif;
  background-color: #F9EAD1;
}

#library-table{
  font-family: sans-serif;
  border-collapse: collapse;
}

tr{
  border-bottom: thin solid black;
}

thead tr{
  background-color: #E8F2A4;
  text-align: left;
  color: black;
}

tbody{
  background-color: #F3F9D1;
}

td:nth-child(n+3){
  text-align: center;
}

th:nth-child(n+3){
  text-align: center;
}

thead th{
  font-weight: normal;
}

#add-book{
  align-self: center;
  order: 1;
}

#book-form{
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  gap:10px;

  padding: 10px;
  border: thin solid black;
  border-radius: 2%;
  background-color: #F3F9D1;
}

.form-control{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}

#publish-date{
  flex-grow: 2;
}
